{% extends "tournament/base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<br />
<h2> Welcome Team {{username}}!</h2><br />
<h3>Update Coefficients Here:</h3>

<table>
<tr>
  <th>Variable Name</th>
  <th>Coefficient</th>
</tr>
{% for coefficient in coefficients %}
<tr>
  <td><a href = "{%url 'tournament:update_coefficient' coefficient.pk %}"> {{coefficient.variable.name}} </a></td>
  <td>{{coefficient.value}}</td>
</tr>
{%endfor%}
</table>
<br />
<ul>
  <li><a href = "{%url 'tournament:all_probs' %}" target="_blank">Simulate All Matchups, Nicely Formatted</a></li>
  <li><a href = "{%url 'tournament:all_probs_Kaggle' %}" target="_blank">Simulate All Matchups, Formatted for Kaggle</a></li>
  <li><a href = "{%url 'tournament:tournament_probs' %}">Simulate Tournament</a></li>
  {%if user.is_superuser%}
  <li><a href = "{%url 'tournament:read_in_values' %}">Update Data File</a></li>
  {%endif%}
  <li> <a href="{% url 'tournament:password_change' %}" target="_blank">Change Password</a> </li>
  <li><a href = "{%url 'tournament:logout_view' %}">Logout</a></li>
</ul>
{%endblock%}
