{% extends "tournament/base.html" %}
{% block title %}Tournament Simulation{% endblock %}
{% block content %}
<br />
<h2>Simulate the Tournament</h2>
<h3>Upload your data as a csv in the following format:</h3>

<table>
  <tr>
    <th>The Number of Teams Left (Must be a power of 2)</th>
  </tr>
  <tr>
    <td>East/Midwest Team Names (Exactly as it was in your data file, in the order in which they are listed in the bracket)</td>
  </tr>
  <tr>
    <td>...</td>
  </tr>
  <tr>
    <td>South/West Team Names (Exactly as it was in your data file, in the order in which they are listed in the bracket)</td>
  </tr>
  <tr>
    <td>...</td>
  </tr>
</table>
<br />
<h2>{{message}}</h2>
<br />
    <h3>
<form enctype="multipart/form-data" action="." method="post">
    {% csrf_token %}
    {{ form.as_p }}
<input type="submit" value="Submit" />

<h3> This will take quite some time</h3>
    <br />
</form>
</h3>
{%endblock%}
